.mainindex{
    padding:2% 0%;

}
.formtxt{
    margin:30px 0px 5px 0px;
}
.forminfo{
    margin:5px 0px;
}

.btnlogin{
    margin:15px 0px 0px 0px;
    
}
.btn-lu{
    margin:5px 0px 0px 0px;

}


.formhead{
    margin:15px 0px;
}


.part1{
    padding:0% 0% 0% 20%;

}


.part2{
    margin:15% 0% 0% 0%;
    padding:0% 10% 0% 0%;
}

.nv-brand{
    margin:0% 0% 0% 37%;
}

.signout{
    margin:0% 0% 0% 1%;
}