.mainindex{
    padding:2% 35%;

}
.formtxt{
    margin:30px 0px 5px 0px;
}
.forminfo{
    margin:5px 0px;
}

.btnlogin{
    margin:15px 0px 0px 0px;
    
}
.btn-lu{
    margin:5px 0px 0px 0px;

}
.formlogo{
    margin:0px;
}

.formhead{
    margin:15px 0px;
}